<p id="notice"><%= notice %></p>

<p>
  <b>Titles:</b>
  <%= @post.titles %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
